@import '~assets/css/reset.css';
@import '~assets/css/variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size-global)
}

body,
.body {
  font: 1rem/var(--line-height) 'Rubik', Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background: var(--color-white);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.u-text-light {
  color: var(--text-color-light)
}

.u-text-center {
  text-align: center;
}

.u-text-lighter {
  color: var(--text-color-lighter)
}

.u-mb-sm { margin-bottom: var(--space-3) }
.u-mb-md { margin-bottom: var(--space-6) }
.u-mb-lg { margin-bottom: var(--space-8) }