@import '~assets/css/reset.css';
@import '~assets/css/variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size-global)
}

body {
  font: 1rem/var(--line-height) Arial, Helvetica, sans-serif;
  color: #fff;
  background: var(--body-background-color);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}




