:root {
  /* COLORS */
  --color-primary-0: #eceeff;
  --color-primary-100: #8a9bfd;
  --color-primary-200: #778bfc;
  --color-primary-300: #637afc;
  --color-primary-400: #506afb;
  --color-primary-500: #3c59fb;
  --color-primary-600: #3650e2;
  --color-primary-700: #3047c9;
  --color-primary-800: #2a3eb0;
  --color-primary-900: #243597;

  --color-secondary-0: #f2e7f9;
  --color-secondary-100: #b06edd;
  --color-secondary-200: #a356d7;
  --color-secondary-300: #963dd1;
  --color-secondary-400: #8925cc;
  --color-secondary-500: #7c0dc6;
  --color-secondary-600: #700cb2;
  --color-secondary-700: #630a9e;
  --color-secondary-800: #57098b;
  --color-secondary-900: #4a0877;

  --color-gray-50: #F9FAFB;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;
  --color-gray-800: #1F2937;
  --color-gray-900: #111827;

  --color-positive-lightest: #effae6;
  --color-positive-lighter: #c1ea99;
  --color-positive-light: #92da4d;
  --color-positive: #63ca00;
  --color-positive-dark: #458d00;
  --color-positive-darker: #285100;
  --color-positive-darkest: #0a1400;

  --color-negative-lightest: #fef2f2;
  --color-negative-lighter: #fecaca;
  --color-negative-light: #f87171;
  --color-negative: #ef4444;
  --color-negative-dark: #dc2626;
  --color-negative-darker: #991b1b;
  --color-negative-darkest: #7f1d1d;

  --color-white: #fdfdff;
  --color-black: #020204;

  /* SPACES */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-24: 6rem;
  --space-32: 8rem;
  --space-40: 10rem;

  /* FONT DEFINITIONS */
  --font-family: 'Roboto', 'Arial', 'Sans-Serif';
  --font-size-global: clamp(.9rem, calc(.5rem + 0.5vh + .5vw), 1.4rem);
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.85rem;
  --font-size: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.44rem;
  --font-size-xl: 1.728rem;
  --font-size-2xl: 2.074rem;
  --font-size-3xl: 2.488rem;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --line-height: 1.5;
  --line-height-sm: 1.3;

  /* RESPONIVE */
  --breakpoint: 96rem;
  --breakpoint-sm: 64rem;
  --breakpoint-xs: 48rem;

  /* FORMS */
  --control-py: .75rem;
  --control-px: 1rem;
  --control-line-height: 1.25;
  --control-height: 2.5rem;
  --control-height-md: 3rem;
  --control-height-lg: 4rem;
  --control-height-xl: 6rem;

  /* BORDER RADIUS */
  --border-radius-1: 0.25rem;
  --border-radius-2: 0.5rem;
  --border-radius-3: 0.75rem;
  --border-radius-4: 1rem;

  /* BOX SHADOWS */
  --shadow-1: 0 0.06rem 0.36rem 0 rgba(6, 0, 14, 0.3),
    0 0.06rem 0.12rem 0 rgba(6, 0, 14, 0.09);

  /* TEXT & LINKS */
  --text-color-lighter: var(--color-gray);
  --text-color-light: var(--color-gray-800);
  --text-color: var(--color-black);
  --link-color: var(--color-primary-500);
  --link-color-hover: var(--color-primary-700);
  --link-color-light: var(--color-gray);
  --link-color-light-hover: var(--color-gray-900);

  /* BUTTONS */
  --button-primary-border-color: transparent;
  --button-primary-hover-border-color: var(--color-primary-700);
  --button-primary-focus-border-color: var(--color-primary-700);
  --button-primary-bg-color: var(--color-primary-500);
  --button-primary-hover-bg-color: var(--color-primary-700);
  --button-primary-focus-bg-color: var(--color-primary-700);
  --button-primary-text-color: var(--color-white);
  --button-primary-hover-text-color: var(--color-white);

  --button-secondary-border-color: var(--color-primary-500);
  --button-secondary-hover-border-color: var(--color-primary-700);
  --button-secondary-focus-border-color: var(--color-primary-700);
  --button-secondary-bg-color: transparent;
  --button-secondary-hover-bg-color: var(--color-primary-0);
  --button-secondary-focus-bg-color: var(--color-primary-0);
  --button-secondary-text-color: var(--color-primary-700);
  --button-secondary-hover-text-color: var(--color-primary-900);

  --button-play-border-color: transparent;
  --button-play-hover-border-color: var(--color-positive-lightest);
  --button-play-focus-border-color: var(--color-positive-lighter);
  --button-play-bg-color: transparent;
  --button-play-hover-bg-color: var(--color-positive-lightest);
  --button-play-focus-bg-color: var(--color-positive-lightest);
  --button-play-text-color: var(--color-positive);
  --button-play-hover-text-color: var(--color-positive-dark);

  --button-ghost-border-color: transparent;
  --button-ghost-hover-border-color: transparent;
  --button-ghost-focus-border-color: transparent;
  --button-ghost-bg-color: transparent;
  --button-ghost-hover-bg-color: transparent;
  --button-ghost-focus-bg-color: transparent;
  --button-ghost-text-color: var(--color-gray-900);
  --button-ghost-hover-text-color: var(--color-black);
}